{% extends 'bootstrap/base.html' %}
{% block title %}管理員{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">管理員</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			</button>
			<a href="/admin/control" class="navbar-brand">管理員</a>
		</div>
		<div class="navbar-collapse collapse">				
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/admin/add">新增用户</a></li>
		        <li><a href="/logout">退出</a></li>
				<li><a href="/admin/search">搜索用戶</a> </li>
		    </ul>
		    <ul class="nav navbar-nav">
				<li><a href="/admin/control">首页</a></li>
				<li><a href="/admin/coupon">優惠劵管理</a></li>
				<li><a href="/admin/credit_shop">積分商場管理</a></li>
				<li><a href="/admin/credit_shop/goods">查看用戶兌換</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
	{% endfor %}
	{% block page_content%}
	<p>

	</p>
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-striped table-condensed">
			<thead>
			<th>用戶名稱</th>
			<th>用戶密碼</th>
			<th>用戶積分</th>

			<th>操作</th>
			</thead>
			<tbody>
			{% for user in users %}
			<tr>
				<td class="data">{{ user.id }}</td>
				<td class="data">{{ user.password }}</td>
				<td class="data">{{ user.credit }}</td>
				<td class="hide">{{ user.key }}</td>
				<td class="delete">删除</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% endblock %}
</div>
{% endblock content %}



{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
	$(".delete").click(function() {
			$.post('/admin/delete', {id: $(this).siblings().first().text()}, function(data) {}, 'json');
			$(this).parent('tr').remove();
	}).hover(function() {
		$(this).css('background-color', 'red');
	}, function() {
		$(this).css('background-color', 'white');
	});
	var close = function() {
		var $not_close = $('.edit');
		if ($not_close) {
			$old_input = $not_close.children().first();
			$not_close.text($old_input.val());
			$old_input.remove();
			$not_close.attr('class', 'data');
		};
	};

	var edit = function() {
		if ($(this).children().length === 0) {
			var data = $(this).text();
			var $input = $('<input type="text"/>');
			$(this).text('');
			$input.val(data);
			$(this).append($input);
			close();
			$(this).attr('class', 'edit');
		}
	};
	$(".data").click(edit).hover(function() {
		$(this).css('background-color', 'lightblue');
	}, function() {
		$(this).css('background-color', 'white');
	});

	$(".data").click(function() {
		var $delete = $(this).siblings().last();
		$delete.attr('class', 'save');
		$delete.text('保存');
		$delete.unbind('click');
		$delete.click(function(e) {
			close();
			var user = $(this).siblings();
			$.post(
				'/admin/change',
				{
					id: $(user[0]).text(),
					password: $(user[1]).text(),
					credit: $(user[2]).text(),
					key: $(user[3]).text()
				},
				function(data) {},
				'json'
			);
			$(this).unbind('click');
			$(this).text('删除').click(function() {
				$.post('/admin/delete', {id: $(this).siblings().first().text()},
					function(data) {}, 'json');
				$(this).parent('tr').remove();
			}).hover(function() {
				$(this).css('background-color', 'red');
			}, function() {
				$(this).css('background-color', 'white');
			});
		}).hover(function() {
			$(this).css('background-color', 'lightgreen');
		}, function() {
			$(this).css('background-color', 'white');
		});
	});
});
</script>
{% endblock %}

