	$('.frozen').click(function() {
		if ($($(this).parent().siblings()[7]).text() === '未冻结') {
			$.post('/admin/frozen', {id: $(this).parent().siblings().first().text()});
			$(this).text('解冻');
			$($(this).parent().siblings()[7]).text('已冻结');
		} else {
			$.post('/admin/normal', {id: $(this).parent().siblings().first().text()});
			$(this).text('冻结');
			$($(this).parent().siblings()[7]).text('未冻结');
		}
	});


    			<th>解凍</th>

    				<td>{% if not user.active_state %}已冻结{% else %}未冻结{% endif %}</td>
				<td>
					<button class="frozen">{% if not user.active_state %}解冻{% else %}冻结{% endif %}</button>
				</td>
